{% doc %}
  Renders a Button component.

  @param {string} [text] - Text inside the button.
  @param {string} [content] - Content to render inside the button.
  @param {string} [variant] - Button variant ('primary', 'secondary', 'icon', 'plain', 'link').
  @param {string} [icon] - Icon handle of the icon to render.
  @param {string} [action] - The action attribute.
  @param {string} [url] - The URL of the button.
  @param {boolean} [external] - Whether the URL should be opened in a new window.
  @param {string} [size] - Button size ('small', 'medium', 'large').
  @param {boolean} [disabled] - Whether the button should be disabled.
  @param {string} [aria_label] - The value for the aria-label attribute.
{% enddoc %}

{% assign variant = variant | default: 'primary' %}
{% assign size = size | default: 'medium' %}

{% if url %}
  <a
    class="
      Button
      Button--{{ variant | camelcase }}
      Button--Size{{ size | camelcase }}
    "
    href="{{ url }}"
    {% if external %}
      target="_blank"
    {% endif %}

    {% if aria_label %}
      aria-label="{{ aria_label }}"
    {% endif %}
  >
    {% if text %}
      {{ text }}
    {% endif %}

    {% if icon %}
      {% render 'icon', icon: icon %}
    {% endif -%}

    {% if content %}
      {{ content }}
    {% endif %}
  </a>
{% else %}
  <button
    is="button-component"
    class="
      Button
      Button--{{ variant | camelcase }}
      Button--Size{{ size | camelcase }}
    "
    {% if disabled %}
      disabled
    {% endif %}

    {% if action %}
      data-action="{{ action }}"
    {% endif %}

    {% if aria_label %}
      aria-label="{{ aria_label }}"
    {% endif %}
  >
    {% if text %}
      {{ text }}
    {% endif %}

    {% if icon %}
      {% render 'icon', icon: icon %}
    {% endif %}

    {% if content %}
      {{ content }}
    {% endif %}
  </button>
{% endif %}

{% stylesheet %}
  .Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-block) var(--padding-inline);
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    border: var(--border-width) var(--border-style) var(--button-border);
    border-radius: var(--button-border-radius);
    user-select: none;
    transition: var(--transition-duration-medium) var(--transition-timing);
  }

  .Button:hover {
    background-color: var(--button-background-hover-color);
    color: var(--button-text-hover-color);
    border-color: var(--button-border-hover);
  }

  .Button--Primary,
  .Button--Secondary {
    --padding-block: var(--size-m);
    --padding-inline: var(--size-xl);
    text-transform: uppercase;
    box-shadow: var(--box-shadow);
    font-weight: var(--button-font-weight);
    letter-spacing: var(--button-letter-spacing);
    font-size: var(--button-font-size);
  }

  .Button--Primary {
    --button-background-color: var(--t-primary);
    --button-background-hover-color: var(--t-primary-hover);
    --button-text-color: var(--t-background-dark);
    --button-text-hover-color: var(--t-background-dark);
    --button-border: var(--t-primary);
    --button-border-hover: var(--t-primary-hover);
  }

  .Button--Secondary {
    --button-background-color: var(--t-background-light);
    --button-background-hover-color: var(--t-background-light-hover);
    --button-text-color: var(--t-text);
    --button-text-hover-color: var(--t-text);
    --button-border: var(--t-text);
    --button-border-hover: var(--t-text);
  }

  .Button--Icon {
    --padding-block: var(--size-s);
    --padding-inline: var(--size-s);
    box-shadow: var(--box-shadow);
  }

  .Button--Plain {
    --padding-block: var(--size-xs);
    --padding-inline: var(--size-xs);
    --button-text-color: var(--t-text);
    --button-text-hover-color: var(--t-text);
    --button-border: transparent;
    --button-border-hover: transparent;
    --button-background-color: transparent;
    --button-background-hover-color: transparent;
  }

  .Button--Link {
    --padding-block: 0;
    --padding-inline: 0;
    text-decoration: underline;
    text-decoration-color: transparent;
  }

  .Button--Link:hover {
    opacity: 0.8;
    text-decoration-color: inherit;
  }

  .Button--SizeSmall {
    --padding-block: var(--size-xs);
    --padding-inline: var(--size-xs);
  }

  .Button--SizeMedium {
    --padding-block: var(--size-m);
    --padding-inline: var(--size-xl);
  }

  .Button--SizeLarge {
    --padding-block: var(--size-l);
    --padding-inline: var(--size-xxl);
  }

  .Button[disabled] {
    opacity: 0.25;
    cursor: default;
  }
{% endstylesheet %}
