{% doc %}
  Renders a Drawer component.

  @param {string} name - The name of the drawer.
  @param {string} [heading] - Text to display as the heading of the drawer.
  @param {string} [from] - The direction from which the drawer slides in. Defaults to 'right'.
  @param {boolean} [active] - Whether the drawer is currently active. Defaults to `false`.
  @param {string} content - The content to be displayed inside the drawer.
  @param {string} [footer] - The content to be displayed inside the drawer.
  @param {string} [color_scheme] - The color scheme to be used for the drawer. Defaults to 'default'.
{% enddoc %}

<aside
  is="drawer-component"
  class="
    Drawer
    Drawer--From{{ from | default: 'right' | camelcase }}
    {% if active %}
      Drawer--Active
    {% endif %}
    ColorScheme--{{ color_scheme | default: 'default' | camelcase }}
  "
  data-name="{{ name }}"
  data-active="{{ active | default: false }}"
>
  <div class="Drawer__Header">
    {% if heading %}
      {% render 'text', as: 'h2', variant: 'heading-small', text: heading %}
    {% endif %}
  </div>

  <div class="Drawer__Content">
    {{ content }}
  </div>

  {% if footer != blank %}
    <div class="Drawer__Footer">{{ footer }}</div>
  {% endif %}

  <div class="Drawer__Close">
    {% render 'button',
      variant: 'plain',
      icon: 'x',
      action: 'close',
      size: 'small',
      aria_label_key: 'components.close_button.aria_label'
    %}
  </div>
</aside>

{% stylesheet %}
  .Drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: var(--layer-2);
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
    padding: var(--drawer-padding-block) var(--drawer-padding-inline);
    width: var(--drawer-width);
    max-width: var(--drawer-max-width);
    background: var(--t-gradient-background-dark);
    transition: transform var(--transition-duration-medium) var(--transition-timing);
  }

  .Drawer--FromLeft {
    left: 0;
    transform: translateX(-100%);
    border-right: var(--border-width) solid var(--color-border);
  }

  .Drawer--FromRight {
    right: 0;
    transform: translateX(100%);
    border-left: var(--border-width) solid var(--color-border);
  }

  .Drawer--Active {
    transform: translateX(0);
  }

  .Drawer__Content {
    flex: 1;
    overflow-y: auto;
  }

  .Drawer__Close {
    position: absolute;
    top: var(--size-m);
    right: var(--size-m);
  }
{% endstylesheet %}
