{% doc %}
  Renders an Image component.

  @param {object} image - The image object containing the source and alt text.
  @param {string} [image_alt_fallback] - The fallback text for the image alt.
  @param {string} [variant] - Image variant (portrait, landscape, square).
  @param {string} [loading] - The loading attribute for the image, defaults to 'lazy'.
  @param {boolean} [preload] - Whether to preload the image, defaults to false.
  @param {object} [placeholder] - The placeholder image to use. Defaults to 'image'. Refer to the [`placeholder_svg_tag`](https://shopify.dev/docs/api/liquid/filters/placeholder_svg_tag) filter for more information.
{% enddoc %}

{% liquid
  # Handle defaults.
  assign loading = loading | default: 'lazy'
  assign preload = preload | default: false

  assign image_alt = image.alt | default: image_alt_fallback
%}

<picture
  class="
    Image
    {% if variant %}
      Image--{{ variant | camelcase }}
    {% endif %}
  "
>
  {% if image %}
    {{
      image
      | image_url: width: image.width
      | image_tag: class: 'Image__Inner', alt: image_alt, loading: loading, preload: preload
    }}
  {% else %}
    {% liquid
      assign placeholder = placeholder | default: 'image'
      assign placeholder_src = placeholder | placeholder_svg_tag | base64_encode | prepend: 'data:image/svg+xml;base64,'
      comment
        The image URL we use for the placeholder image is hosted on the Shopify CDN - The `RemoteAsset` error is irrelevant.
      endcomment
      comment
        theme-check-disable-next-line RemoteAsset
      endcomment
    %}

    <img
      class="Image__Inner Image__Inner--Placeholder"
      src="{{ placeholder_src }}"
      alt="{{ placeholder }}"
      width="{{ placeholder.width }}"
      height="{{ placeholder.height }}"
    >

    <div class="Image__Text">
      {% render 'text', text: 'Fallback Image' %}
    </div>
  {% endif %}
</picture>

{% stylesheet %}
  .Image {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
  }

  .Image--Portrait {
    --aspect-ratio: 3/4;
  }

  .Image--Landscape {
    --aspect-ratio: 4/3;
  }

  .Image--Square {
    --aspect-ratio: 1;
  }

  .Image__Inner {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: var(--aspect-ratio);
  }

  .Image__Text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--t-background);
    padding: var(--size-s);
    text-align: center;
  }

  .Image__Inner--Placeholder {
    background: linear-gradient(to right, var(--image-fallback-gradient-start), var(--image-fallback-gradient-end));
  }
{% endstylesheet %}
