{% doc %}
  Renders a Navigation Group component.

  @param {object} links - An array of link objects.
  @param {string} [direction] - Set the direction of the navigation group. Defaults to vertical.
  @param {boolean} [nested] - Whether the navigation group is nested in another navigation group.
  @param {boolean} [connected_to_mega_menu] - Whether the navigation group is connected to a mega menu.
  @param {boolean} [separators] - Whether the navigations first level links are visually separated. Default: true
  @param {boolean} [highlight_active_links] - Whether the active links are highlighted. Default: false
{% enddoc %}

{% assign direction = direction | default: 'vertical' %}
{% assign nested = nested | default: false %}
{% assign separators = separators | default: true, allow_false: true %}
{% assign highlight_active_links = highlight_active_links | default: false %}

<ul
  class="
    NavigationGroup
    NavigationGroup--Direction{{ direction | camelcase }}
    u-NoList
  "
>
  {% for link in links %}
    {%- comment -%}
      TODO: This needs to be refactored so we only have `li`s inside the `ul`.
    {%- endcomment -%}
    {% assign tag = 'li' %}
    {% if connected_to_mega_menu %}
      {% assign tag = 'mega-menu-trigger-component' %}
    {% endif %}

    <{{ tag }}
      {% if connected_to_mega_menu %}
        data-handle="{{ link.handle }}"
      {% endif %}
      class="
        NavigationGroup__Item
        {% if link.active or link.child_active and highlight_active_links %}
          NavigationGroup__Item--Active
        {% endif %}
      "
    >
      <a href="{{ link.url }}">
        {% render 'text', text: link.title, as: 'b' %}
      </a>
    </{{ tag }}>

    {% if link.links.size > 0 and direction == 'vertical' %}
      <li class="NavigationGroup__Item">
        {% render 'navigation-group', links: link.links, nested: true %}
      </li>
    {% endif %}

    {% if forloop.last == false and nested == false and direction == 'vertical' and separators %}
      <li role="presentation">
        {% render 'divider' %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% stylesheet %}
  .NavigationGroup {
    display: flex;
    gap: var(--size-xs);
  }

  .NavigationGroup--DirectionVertical {
    flex-direction: column;
  }

  .NavigationGroup--DirectionHorizontal {
    flex-wrap: wrap;
    gap: var(--size-m);
  }

  .NavigationGroup--DirectionVertical .NavigationGroup {
    margin-left: var(--size-m);
    gap: var(--size-xs);
  }

  .NavigationGroup__Item--Active {
    text-decoration: underline 2px;
    text-underline-offset: 2px;
  }
{% endstylesheet %}
