{% doc %}
  Renders a Product Card component.

  @param {string} title - Product title
  @param {object} image - The image object containing the source and alt text.
  @param {object} [swap_image] - The image to swap to when hover effect set to swap.
  @param {string} [badge] - Optional Badge to render on the product card.
  @param {number} [compare_at_price] - Product compare at price in cents.
  @param {number} price - Product price in cents.
  @param {string} url - URL of the Product.
  @param {number} [rating] - Product rating.
  @param {string} [hover_effect] - The hover effect for the image. ('none', 'swap', 'zoom')
  @param {boolean} [enable_quick_add_button] - Renders a quick add button on the product card.
  @param {boolean} [enable_wishlist_button] - Renders a wishlist button on the product card.
  @param {object} [product] - The product reference.
{% enddoc %}

{% assign hover_effect = hover_effect | default: settings.product_card_hover_effect %}
{% assign selected_variant = product.selected_or_first_available_variant %}

<article
  class="
    ProductCard
    ProductCard--Hover{{ hover_effect | camelcase }}
  "
  {% if enable_quick_add_button %}
    is="product-card-component"
    data-has-only-default-variant="{{ product.has_only_default_variant }}"
    data-selected-variant-id="{{ selected_variant.id | json }}"
  {% endif %}
>
  <a href="{{ url }}">
    <div class="ProductCard__Image">
      {% render 'image', image: image, variant: 'square' %}

      {% if hover_effect == 'swap' and swap_image %}
        {% render 'image', image: swap_image, variant: 'square' %}
      {% endif %}

      <div class="ProductCard__Badges">
        <ul class="u-NoList BadgeList BadgeList--AlignRight">
          {% if badge %}
            <li>
              {% render 'badge', text: badge %}
            </li>
          {% endif %}

          {% if compare_at_price > price %}
            <li>
              {% render 'badge', text: 'Sale', variant: 'sale' %}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </a>

  <div class="ProductCard__Bottom">
    <div class="ProductCard__Details">
      <a href="{{ url }}">
        {% render 'text', text: title, as: 'b' %}
      </a>

      {% if rating %}
        {% render 'rating', rating: rating %}
      {% endif %}

      <div class="ProductCard__PriceList">
        {% render 'price-list', price: price, compare_at_price: compare_at_price %}
      </div>
    </div>

    {% if enable_quick_add_button or enable_wishlist_button %}
      <div class="ProductCard__Actions">
        {% if enable_quick_add_button %}
          {% if selected_variant.available != true %}
            {% assign disabled = true %}
          {% endif %}

          {% if product.has_only_default_variant %}
            {% render 'button',
              icon: 'shopping-cart',
              size: 'small',
              action: 'quick-add',
              disabled: disabled,
              aria_label_key: 'components.add_to_cart_button.aria_label'
            %}
          {% else %}
            {% assign modal_name = 'quick-add-form-' | append: product.handle %}
            {% assign action = 'open-modal:' | append: modal_name %}

            {% render 'button',
              icon: 'shopping-cart',
              size: 'small',
              action: action,
              disabled: disabled,
              aria_label_key: 'components.add_to_cart_button.aria_label'
            %}

            {% capture modal_content %}
              {% render 'quick-add-product-form', product: product %}
            {% endcapture %}

            {% render 'modal', name: modal_name, content: modal_content %}
          {% endif %}
        {% endif %}

        {% if enable_wishlist_button %}
          {% render 'button',
            icon: 'heart',
            size: 'small',
            action: 'wishlist:add',
            aria_label_key: 'components.wishlist_button.aria_label'
          %}
        {% endif %}
      </div>
    {% endif %}
  </div>
</article>

{% stylesheet %}
  .ProductCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-xs);
    height: 100%;
    background-color: var(--t-background);
    background: var(--t-gradient-background);
    border: var(--border-width) solid var(--t-border-card);
    border-top-color: var(--t-highlight);
    border-radius: var(--t-border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
  }

  .ProductCard > a {
    /* Reserve space for the image to prevent layout shift */
    width: 100%;
    aspect-ratio: 1;
  }

  .ProductCard__Image {
    position: relative;

    /* Make sure the image doesnt overflow its container */
    overflow: hidden;
  }

  .ProductCard--HoverZoom .ProductCard__Image .Image {
    transform: scale(0.8);
    transition: var(--transition-duration-medium) var(--transition-timing);
  }

  .ProductCard--HoverZoom .ProductCard__Image:hover .Image {
    transform: scale(1);
  }

  .ProductCard--HoverSwap:has(.Image:nth-of-type(2)) .ProductCard__Image .Image {
    transition: transform var(--transition-duration-short) var(--transition-timing);
  }

  .ProductCard--HoverSwap:has(.Image:nth-of-type(2)) .ProductCard__Image .Image:first-of-type {
    transform: translateX(0);
  }

  .ProductCard--HoverSwap:has(.Image:nth-of-type(2)) .ProductCard__Image:hover .Image:first-of-type {
    transform: translateX(-100%);
  }

  .ProductCard--HoverSwap:has(.Image:nth-of-type(2)) .ProductCard__Image .Image:nth-of-type(2) {
    position: absolute;
    inset: 0;

    /* Add 1px to the translate to account for fractional pixels that might get rounded by the browser and would lead
    to the second image being barely visible. */
    transform: translateX(calc(100% + 1px));
  }

  .ProductCard--HoverSwap:has(.Image:nth-of-type(2)) .ProductCard__Image:hover .Image:nth-of-type(2) {
    transform: translateX(0);
  }

  .ProductCard__Actions {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
  }

  .ProductCard__Badges {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--size-xs);
  }

  .ProductCard__Bottom {
    /* Make sure the bottom section takes up the remaining space */
    flex: 1;

    display: flex;
    align-items: center;
    gap: var(--size-xs);
    width: 100%;
    padding: var(--size-s);
    gap: var(--size-s);
  }

  .ProductCard__Details {
    /* Make sure the details section takes up the remaining space */
    flex: 1;

    /* Make sure the details section takes up the height of its parent */
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
  }

  .ProductCard__PriceList {
    margin-top: auto;
  }
{% endstylesheet %}
