<section
  class="
    Section
    Section--PaddingBlock{{ section.settings.padding_block | camelcase }}
    ColorScheme--{{ section.settings.color_scheme.id | camelcase }}
  "
>
  <div class="Section__Inner">
    <div class="Cart">
      {% if cart.empty? %}
        {% render 'empty-state',
          heading: section.settings.empty_state_heading,
          text: section.settings.empty_state_text,
          link: section.settings.empty_state_link,
          link_text: section.settings.empty_state_link_text
        %}
      {% else %}
        <div class="Cart__Content u-NoScrollbar">
          {% if settings.free_shipping_threshold != blank
            and settings.free_shipping_threshold != 0
            and section.settings.enable_free_shipping_alert
          %}
            {% assign remaining_amount = settings.free_shipping_threshold | minus: cart.total_price %}

            {% if remaining_amount <= 0 %}
              {% assign text = section.settings.free_shipping_reached_text %}
              {% assign variant = 'success' %}
            {% else %}
              {% assign remaining_amount_money = remaining_amount | money %}
              {% assign text = section.settings.free_shipping_remaining_text
                | replace: '%REMAINING%', remaining_amount_money
              %}
            {% endif %}

            <div class="Cart__FreeShippingInfo">
              {% render 'alert', text: text, variant: variant %}

              {% if section.settings.enable_free_shipping_progress %}
                {% assign progress = cart.total_price | times: 100 | divided_by: settings.free_shipping_threshold %}
                {% render 'progress-bar', progress: progress %}
              {% endif %}
            </div>
          {% endif %}

          <ul class="Cart__LineItems u-NoList">
            {% for line_item in cart.items %}
              <li class="Cart__LineItem">
                {% render 'line-item',
                  product_title: line_item.product.title,
                  variant_title: line_item.variant.title,
                  image: line_item.image,
                  price: line_item.variant.price,
                  compare_at_price: line_item.variant.compare_at_price,
                  quantity: line_item.quantity,
                  url: line_item.url,
                  key: line_item.key,
                  variant_id: line_item.variant.id,
                  inventory_quantity: line_item.variant.inventory_quantity
                %}
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="Cart__Summary">
          <div class="Cart__SummaryLines">
            <div class="Cart__SummaryLine">
              {% assign subtotal_text = 'global.subtotal' | t | append: ':' %}
              {% render 'text', text: subtotal_text %}

              {% assign formatted_total_price = cart.total_price | money %}
              {% render 'text', text: formatted_total_price %}
            </div>

            <div class="Cart__SummaryLine">
              {% assign shipping_text = 'global.shipping' | t | append: ':' %}
              {% render 'text', text: shipping_text %}

              {% if settings.free_shipping_threshold != blank
                and settings.free_shipping_threshold != 0
                and cart.total_price >= settings.free_shipping_threshold
              %}
                {% assign text = 'global.free' | t %}
                {% assign color = 'success' %}
              {% else %}
                {% assign text = 495 | money %}
              {% endif %}

              {% render 'text', text: text, color: color %}
            </div>
          </div>

          {% assign button_text = 'global.checkout' | t %}
          {% render 'button', text: button_text, url: '/checkout' %}
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% stylesheet %}
  .Cart {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
    height: 100%;
  }

  .Cart:has(.EmptyState) {
    align-items: center;
    justify-content: center;
  }

  .Cart__Content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .Cart__FreeShippingInfo {
    display: flex;
    flex-direction: column;
    gap: var(--size-xxs);
  }

  .Cart__LineItems {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
  }

  .Cart__Summary {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
    margin-top: auto;
    padding: var(--size-m) 0 0;
    border-top: var(--border-width) var(--border-style) var(--t-border);
  }

  .Cart__SummaryLine {
    display: flex;
    justify-content: space-between;
  }

  .Cart__SummaryLines {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:sections.main_cart.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.headers.section_appearance.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.settings.color_scheme.label",
      "info": "t:sections.all.settings.color_scheme.info"
    },
    {
      "type": "select",
      "id": "padding_block",
      "label": "t:sections.all.settings.padding_block.label",
      "default": "medium",
      "options": [
        { "value": "none", "label": "t:sections.all.settings.padding_block.options.none.label" },
        { "value": "small", "label": "t:sections.all.settings.padding_block.options.small.label" },
        { "value": "medium", "label": "t:sections.all.settings.padding_block.options.medium.label" },
        { "value": "large", "label": "t:sections.all.settings.padding_block.options.large.label" }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.section_content.content"
    },
    {
      "type": "checkbox",
      "id": "enable_free_shipping_alert",
      "label": "t:sections.all.settings.enable_free_shipping_alert.label",
      "default": true,
      "info": "t:sections.all.settings.enable_free_shipping_alert.info"
    },
    {
      "type": "checkbox",
      "id": "enable_free_shipping_progress",
      "label": "t:sections.all.settings.enable_free_shipping_progress.label",
      "default": true,
      "info": "t:sections.all.settings.enable_free_shipping_progress.info",
      "visible_if": "{{ section.settings.enable_free_shipping_alert }}"
    },
    {
      "type": "text",
      "id": "free_shipping_remaining_text",
      "label": "t:sections.all.settings.free_shipping_remaining_text.label",
      "default": "t:sections.all.settings.free_shipping_remaining_text.default",
      "info": "t:sections.all.settings.free_shipping_remaining_text.info",
      "visible_if": "{{ section.settings.enable_free_shipping_alert }}"
    },
    {
      "type": "text",
      "id": "free_shipping_reached_text",
      "label": "t:sections.all.settings.free_shipping_reached_text.label",
      "default": "t:sections.all.settings.free_shipping_reached_text.default",
      "visible_if": "{{ section.settings.enable_free_shipping_alert }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.empty_state.content"
    },
    {
      "type": "text",
      "id": "empty_state_heading",
      "label": "t:sections.all.settings.cart_empty_state_heading.label",
      "default": "t:sections.all.settings.cart_empty_state_heading.default"
    },
    {
      "type": "text",
      "id": "empty_state_text",
      "label": "t:sections.all.settings.cart_empty_state_text.label",
      "default": "t:sections.all.settings.cart_empty_state_text.default"
    },
    {
      "type": "url",
      "id": "empty_state_link",
      "label": "t:sections.all.settings.cart_empty_state_link.label",
      "default": "/collections"
    },
    {
      "type": "text",
      "id": "empty_state_link_text",
      "label": "t:sections.all.settings.cart_empty_state_link_text.label",
      "default": "t:sections.all.settings.cart_empty_state_link_text.default"
    }
  ]
}
{% endschema %}
