<section
  class="
    Section
    Section--PaddingBlockMedium
    ColorScheme--{{ section.settings.color_scheme.id | camelcase }}
  "
>
  <div class="Section__Inner">
    <product-configurator-component
      class="ProductConfigurator"
      data-product-handle="{{ product.handle }}"
      data-initial-variant-id="{{ product.selected_or_first_available_variant.id }}"
      {%- comment -%}
        Only enable history state updates on the main product page to avoid unexpected behavior in other contexts where
        the product configurator is being used.
      {%- endcomment -%}
      {% if template.name == 'product' and template.suffix == blank %}
        data-enable-history-state="true"
      {% endif %}
    >
      <div class="ProductConfigurator__Gallery">
        {% liquid
          if product.type == 'Bundle'
            # For bundles we just want to render all images.
            assign media_to_render = product.media
          else
            # Create empty array
            assign media_to_render = null | uniq

            for media in product.media
              # If the alt text is left empty shopify defaults it to the product title.
              # In that case the media should be rendered for all variants.
              if media.alt == product.title
                assign media_to_render = media | concat: media_to_render
                continue
              endif

              assign media_alt_parts = media.alt | split: ','
              assign media_is_for_variant = true

              # Loop over all selected option values and check if they appear in the alt text.
              # If all option values exist in the alt text, it means the media is connected to the currently selected
              # variant.
              for option_value in product.selected_or_first_available_variant.options
                assign option_value_exists_in_alt = false

                for media_alt_part in media_alt_parts
                  assign media_alt_part_handelized = media_alt_part | handleize
                  assign option_value_handelized = option_value | handleize

                  if media_alt_part_handelized == option_value_handelized
                    assign option_value_exists_in_alt = true
                    break
                  endif
                endfor

                if option_value_exists_in_alt != true
                  assign media_is_for_variant = false
                  break
                endif
              endfor

              if media_is_for_variant
                assign media_to_render = media | concat: media_to_render
              endif
            endfor

            # After collecting all the media items revert the array to restore the original order.
            assign media_to_render = media_to_render | reverse
          endif
        %}

        {% render 'gallery',
          media_items: media_to_render,
          variant_desktop: section.settings.gallery_desktop,
          variant_mobile: section.settings.gallery_mobile,
          columns_desktop: section.settings.columns_desktop,
          columns_mobile: section.settings.columns_mobile,
          enable_pagination_desktop: section.settings.enable_pagination_desktop,
          enable_pagination_mobile: section.settings.enable_pagination_mobile,
          pagination_style_desktop: section.settings.pagination_style_desktop,
          pagination_style_mobile: section.settings.pagination_style_mobile,
          enable_navigation_desktop: section.settings.enable_navigation_desktop,
          enable_navigation_mobile: section.settings.enable_navigation_mobile
        %}
      </div>

      <div class="ProductConfigurator__Form">
        {% render 'product-form', product: product, name_prefix: section.id, blocks: section.blocks %}
      </div>
    </product-configurator-component>
  </div>
</section>

{% stylesheet %}
  .ProductConfigurator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .ProductConfigurator__Gallery {
    width: 100%;
    aspect-ratio: 1;
  }

  @media screen and (min-width: 769px) {
    .ProductConfigurator {
      flex-direction: row;
    }

    .ProductConfigurator__Gallery {
      /* Takes up all the remaining space */
      flex-grow: 1;

      width: auto;
    }

    .ProductConfigurator__Form {
      width: 40%;
      flex-shrink: 0;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:sections.product_configurator.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.headers.section_appearance.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.settings.color_scheme.label",
      "info": "t:sections.all.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.section_content.content"
    },
    {
      "type": "select",
      "id": "gallery_mobile",
      "label": "t:sections.all.settings.gallery_mobile.label",
      "default": "slider",
      "options": [
        { "value": "stack", "label": "t:sections.all.settings.gallery_mobile.options.stack.label" },
        { "value": "slider", "label": "t:sections.all.settings.gallery_mobile.options.slider.label" },
        { "value": "grid", "label": "t:sections.all.settings.gallery_mobile.options.grid.label" }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_pagination_mobile",
      "label": "t:sections.product_configurator.settings.enable_pagination_mobile.label",
      "default": true,
      "visible_if": "{{ section.settings.gallery_mobile == 'slider' }}"
    },
    {
      "type": "select",
      "id": "pagination_style_mobile",
      "label": "t:sections.all.settings.pagination_style_mobile.label",
      "default": "bullet",
      "options": [
        { "value": "bullet", "label": "t:sections.all.settings.pagination_style_mobile.options.bullet.label" },
        { "value": "bar", "label": "t:sections.all.settings.pagination_style_mobile.options.bar.label" },
        { "value": "thumbnail", "label": "t:sections.all.settings.pagination_style_mobile.options.thumbnail.label" }
      ],
      "visible_if": "{{ section.settings.gallery_mobile == 'slider' and section.settings.enable_pagination_mobile }}"
    },
    {
      "type": "checkbox",
      "id": "enable_navigation_mobile",
      "label": "t:sections.product_configurator.settings.enable_navigation_mobile.label",
      "default": true,
      "visible_if": "{{ section.settings.gallery_mobile == 'slider' }}"
    },
    {
      "type": "number",
      "id": "columns_mobile",
      "label": "t:sections.all.settings.columns_mobile.label",
      "default": 2,
      "visible_if": "{{ section.settings.gallery_mobile == 'grid' }}"
    },
    {
      "type": "select",
      "id": "gallery_desktop",
      "label": "t:sections.all.settings.gallery_desktop.label",
      "default": "grid",
      "options": [
        { "value": "stack", "label": "t:sections.all.settings.gallery_desktop.options.stack.label" },
        { "value": "slider", "label": "t:sections.all.settings.gallery_desktop.options.slider.label" },
        { "value": "grid", "label": "t:sections.all.settings.gallery_desktop.options.grid.label" }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_pagination_desktop",
      "label": "t:sections.product_configurator.settings.enable_pagination_desktop.label",
      "default": true,
      "visible_if": "{{ section.settings.gallery_desktop == 'slider' }}"
    },
    {
      "type": "select",
      "id": "pagination_style_desktop",
      "label": "t:sections.all.settings.pagination_style_desktop.label",
      "default": "bullet",
      "options": [
        { "value": "bullet", "label": "t:sections.all.settings.pagination_style_desktop.options.bullet.label" },
        { "value": "bar", "label": "t:sections.all.settings.pagination_style_desktop.options.bar.label" },
        { "value": "thumbnail", "label": "t:sections.all.settings.pagination_style_desktop.options.thumbnail.label" }
      ],
      "visible_if": "{{ section.settings.gallery_desktop == 'slider' and section.settings.enable_pagination_desktop }}"
    },
    {
      "type": "checkbox",
      "id": "enable_navigation_desktop",
      "label": "t:sections.product_configurator.settings.enable_navigation_desktop.label",
      "default": true,
      "visible_if": "{{ section.settings.gallery_desktop == 'slider' }}"
    },
    {
      "type": "number",
      "id": "columns_desktop",
      "label": "t:sections.all.settings.columns_desktop.label",
      "default": 2,
      "visible_if": "{{ section.settings.gallery_desktop == 'grid' }}"
    }
  ],
  "blocks": [
    {
      "name": "t:blocks.title.name",
      "type": "title",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_sku",
          "label": "t:sections.product_configurator.blocks.title.settings.show_sku.label",
          "default": true
        },
        {
          "type": "select",
          "id": "sku_position",
          "label": "t:sections.product_configurator.blocks.title.settings.sku_position.label",
          "options": [
            {
              "value": "above",
              "label": "t:sections.product_configurator.blocks.title.settings.sku_position.options.above.label"
            },
            {
              "value": "below",
              "label": "t:sections.product_configurator.blocks.title.settings.sku_position.options.below.label"
            }
          ],
          "default": "below",
          "visible_if": "{{ block.settings.show_sku }}"
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "label": "t:sections.product_configurator.blocks.title.settings.show_vendor.label",
          "default": true
        },
        {
          "type": "select",
          "id": "vendor_position",
          "label": "t:sections.product_configurator.blocks.title.settings.vendor_position.label",
          "options": [
            {
              "value": "above",
              "label": "t:sections.product_configurator.blocks.title.settings.vendor_position.options.above.label"
            },
            {
              "value": "below",
              "label": "t:sections.product_configurator.blocks.title.settings.vendor_position.options.below.label"
            }
          ],
          "default": "above",
          "visible_if": "{{ block.settings.show_vendor }}"
        }
      ]
    },
    {
      "name": "t:blocks.product_variant_selector.name",
      "type": "product-variant-selector",
      "limit": 1
    },
    {
      "name": "t:blocks.price_list.name",
      "type": "price-list"
    },
    {
      "name": "t:blocks.quantity_selector.name",
      "type": "quantity-selector",
      "limit": 1
    },
    {
      "name": "t:blocks.product_rating.name",
      "type": "product-rating"
    },
    {
      "name": "t:blocks.buy_buttons.name",
      "type": "buy-buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_wishlist_button",
          "label": "t:sections.product_configurator.blocks.buy_buttons.settings.show_wishlist_button.label",
          "default": true
        }
      ]
    },
    {
      "name": "t:blocks.shipping_estimation.name",
      "type": "shipping-estimation"
    },
    {
      "name": "t:blocks.selling_points.name",
      "type": "selling-points"
    },
    {
      "name": "t:sections.product_configurator.blocks.social_proof.name",
      "type": "social-proof",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:sections.product_configurator.blocks.social_proof.settings.text.label"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "t:sections.product_configurator.blocks.social_proof.settings.image_1.label"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.product_configurator.blocks.social_proof.settings.image_2.label"
        }
      ]
    }
  ]
}
{% endschema %}
