<section
  class="
    Section
    Section--PaddingBlockMedium
    ColorScheme--{{ section.settings.color_scheme.id | camelcase }}
  "
>
  <div class="Section__Inner">
    <div class="ProductConfigurator">
      <div class="ProductConfigurator__Gallery">
        {% render 'gallery',
          images: product.images,
          variant_desktop: section.settings.gallery_desktop,
          variant_mobile: section.settings.gallery_mobile,
          columns_desktop: section.settings.columns_desktop,
          columns_mobile: section.settings.columns_mobile,
          enable_pagination_desktop: section.settings.enable_pagination_desktop,
          enable_pagination_mobile: section.settings.enable_pagination_mobile,
          pagination_style_desktop: section.settings.pagination_style_desktop,
          pagination_style_mobile: section.settings.pagination_style_mobile,
          enable_navigation_desktop: section.settings.enable_navigation_desktop,
          enable_navigation_mobile: section.settings.enable_navigation_mobile
        %}
      </div>

      <div class="ProductConfigurator__Form">
        {% render 'product-form',
          product: product,
          name_prefix: section.id,
          update_variant_url_parameter: true,
          blocks: section.blocks
        %}
      </div>
    </div>
  </div>
</section>

{% stylesheet %}
  .ProductConfigurator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .ProductConfigurator__Gallery {
    width: 100%;
    aspect-ratio: 1;
  }

  @media screen and (min-width: 769px) {
    .ProductConfigurator {
      flex-direction: row;
    }

    .ProductConfigurator__Gallery {
      /* Takes up all the remaining space */
      flex-grow: 1;

      width: auto;
    }

    .ProductConfigurator__Form {
      width: 40%;
      flex-shrink: 0;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:sections.product_configurator.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.headers.section_appearance.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.settings.color_scheme.label",
      "info": "t:sections.all.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.section_content.content"
    },
    {
      "type": "select",
      "id": "gallery_mobile",
      "label": "t:sections.all.settings.gallery_mobile.label",
      "default": "slider",
      "options": [
        { "value": "stack", "label": "t:sections.all.settings.gallery_mobile.options.stack.label" },
        { "value": "slider", "label": "t:sections.all.settings.gallery_mobile.options.slider.label" },
        { "value": "grid", "label": "t:sections.all.settings.gallery_mobile.options.grid.label" }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_pagination_mobile",
      "label": "t:sections.product_configurator.settings.enable_pagination_mobile.label",
      "default": true,
      "visible_if": "{{ section.settings.gallery_mobile == 'slider' }}"
    },
    {
      "type": "select",
      "id": "pagination_style_mobile",
      "label": "t:sections.all.settings.pagination_style_mobile.label",
      "default": "bullet",
      "options": [
        { "value": "bullet", "label": "t:sections.all.settings.pagination_style_mobile.options.bullet.label" },
        { "value": "bar", "label": "t:sections.all.settings.pagination_style_mobile.options.bar.label" },
        { "value": "thumbnail", "label": "t:sections.all.settings.pagination_style_mobile.options.thumbnail.label" }
      ],
      "visible_if": "{{ section.settings.gallery_mobile == 'slider' and section.settings.enable_pagination_mobile }}"
    },
    {
      "type": "checkbox",
      "id": "enable_navigation_mobile",
      "label": "t:sections.product_configurator.settings.enable_navigation_mobile.label",
      "default": true,
      "visible_if": "{{ section.settings.gallery_mobile == 'slider' }}"
    },
    {
      "type": "number",
      "id": "columns_mobile",
      "label": "t:sections.all.settings.columns_mobile.label",
      "default": 2,
      "visible_if": "{{ section.settings.gallery_mobile == 'grid' }}"
    },
    {
      "type": "select",
      "id": "gallery_desktop",
      "label": "t:sections.all.settings.gallery_desktop.label",
      "default": "grid",
      "options": [
        { "value": "stack", "label": "t:sections.all.settings.gallery_desktop.options.stack.label" },
        { "value": "slider", "label": "t:sections.all.settings.gallery_desktop.options.slider.label" },
        { "value": "grid", "label": "t:sections.all.settings.gallery_desktop.options.grid.label" }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_pagination_desktop",
      "label": "t:sections.product_configurator.settings.enable_pagination_desktop.label",
      "default": true,
      "visible_if": "{{ section.settings.gallery_desktop == 'slider' }}"
    },
    {
      "type": "select",
      "id": "pagination_style_desktop",
      "label": "t:sections.all.settings.pagination_style_desktop.label",
      "default": "bullet",
      "options": [
        { "value": "bullet", "label": "t:sections.all.settings.pagination_style_desktop.options.bullet.label" },
        { "value": "bar", "label": "t:sections.all.settings.pagination_style_desktop.options.bar.label" },
        { "value": "thumbnail", "label": "t:sections.all.settings.pagination_style_desktop.options.thumbnail.label" }
      ],
      "visible_if": "{{ section.settings.gallery_desktop == 'slider' and section.settings.enable_pagination_desktop }}"
    },
    {
      "type": "checkbox",
      "id": "enable_navigation_desktop",
      "label": "t:sections.product_configurator.settings.enable_navigation_desktop.label",
      "default": true,
      "visible_if": "{{ section.settings.gallery_desktop == 'slider' }}"
    },
    {
      "type": "number",
      "id": "columns_desktop",
      "label": "t:sections.all.settings.columns_desktop.label",
      "default": 2,
      "visible_if": "{{ section.settings.gallery_desktop == 'grid' }}"
    }
  ],
  "blocks": [
    {
      "name": "t:blocks.titel.name",
      "type": "title"
    },
    {
      "name": "t:blocks.product_variant_selector.name",
      "type": "product-variant-selector",
      "limit": 1
    },
    {
      "name": "t:blocks.price_list.name",
      "type": "price-list"
    },
    {
      "name": "t:blocks.quantity_selector.name",
      "type": "quantity-selector",
      "limit": 1
    },
    {
      "name": "t:blocks.product_rating.name",
      "type": "product-rating"
    },
    {
      "name": "t:blocks.buy_buttons.name",
      "type": "buy-buttons",
      "limit": 1
    },
    {
      "name": "t:blocks.shipping_estimation.name",
      "type": "shipping-estimation"
    },
    {
      "name": "t:blocks.selling_points.name",
      "type": "selling-points"
    }
  ]
}
{% endschema %}
