{%- comment -%}
  Capture icons for left and right side depending on their position settings.
{%- endcomment -%}
{% assign left_icons = '' %}
{% assign right_icons = '' %}
{% if section.settings.show_search_icon %}
  {% capture search_icon %}
    {% render 'button',
      icon: 'search',
      variant: 'plain',
      size: 'small',
      action: 'open-modal:search',
      aria_label: 'components.search_button.aria_label'
    %}
  {% endcapture %}

  {% if section.settings.search_icon_position == 'left' %}
    {% assign left_icons = left_icons | append: search_icon %}
  {% else %}
    {% assign right_icons = right_icons | append: search_icon %}
  {% endif %}
{% endif %}

{% if section.settings.show_account_icon %}
  {% capture account_icon %}
    {% render 'button',
      icon: 'user-round',
      url: routes.account_url,
      variant: 'plain',
      size: 'small',
      aria_label_key: 'components.user_button.aria_label'
    %}
  {% endcapture %}

  {% if section.settings.account_icon_position == 'left' %}
    {% assign left_icons = left_icons | append: account_icon %}
  {% else %}
    {% assign right_icons = right_icons | append: account_icon %}
  {% endif %}
{% endif %}

{% if section.settings.show_wishlist_icon %}
  {% capture wishlist_icon %}
    {% render 'dynamic-wishlist-icon', url: section.settings.wishlist_page.url %}
  {% endcapture %}

  {% if section.settings.wishlist_icon_position == 'left' %}
    {% assign left_icons = left_icons | append: wishlist_icon %}
  {% else %}
    {% assign right_icons = right_icons | append: wishlist_icon %}
  {% endif %}
{% endif %}

{% if section.settings.show_cart_icon %}
  {% capture cart_icon %}
    {% render 'dynamic-cart-icon' %}
  {% endcapture %}

  {% if section.settings.cart_icon_position == 'left' %}
    {% assign left_icons = left_icons | append: cart_icon %}
  {% else %}
    {% assign right_icons = right_icons | append: cart_icon %}
  {% endif %}
{% endif %}

<section
  {% if section.settings.sticky %}
    is="section-component"
    data-section-index="{{ section.index0 }}"
  {% endif %}

  class="
    Section
    Section--PaddingBlockSmall
    {% if section.settings.border_bottom %}
      Section--BorderBottom
    {% endif %}
    {% if section.settings.sticky %}
      Section--Sticky
    {% endif %}
    {% if section.settings.box_shadow %}
      Section--BoxShadow
    {% endif %}
    Section--GradientBackground
    ColorScheme--{{ section.settings.color_scheme | camelcase }}
  "
>
  <div class="Section__Inner">
    <header class="SiteHeader">
      <div class="SiteHeader__Left">
        <div class="u-Hidden--Mobile">
          {% render 'navigation-group',
            direction: 'horizontal',
            links: section.settings.link_list.links,
            connected_to_mega_menu: true
          %}
        </div>

        <div class="u-Hidden--Desktop">
          {% render 'button',
            variant: 'plain',
            icon: 'menu',
            action: 'open-drawer:menu',
            size: 'small',
            aria_label_key: 'components.menu_button.aria_label'
          %}
        </div>

        {% if left_icons != blank %}
          <div class="SiteHeader__Icons">
            {{ left_icons }}
          </div>
        {% endif %}
      </div>

      <div class="SiteHeader__Middle">
        <a href="{{ routes.root_url }}" aria-label="{{ 'navigation.index.aria_label' | t }}">
          {% if section.settings.show_desktop_logo and settings.desktop_logo != blank %}
            <div
              class="SiteHeader__Logo u-Hidden--Mobile"
              style="--width: {{ section.settings.desktop_logo_width }}px;"
            >
              {% render 'image', image: settings.desktop_logo %}
            </div>
          {% else %}
            <div class="u-Hidden--Mobile">
              {% render 'text', text: 'Ruumly', as: 'h2', variant: section.settings.title_text_variant %}
            </div>
          {% endif %}

          {% if section.settings.show_mobile_logo and settings.mobile_logo != blank %}
            <div
              class="SiteHeader__Logo u-Hidden--Desktop"
              style="--width: {{ section.settings.mobile_logo_width }}px;"
            >
              {% render 'image', image: settings.mobile_logo %}
            </div>
          {% else %}
            <div class="u-Hidden--Desktop">
              {% render 'text', text: 'Ruumly', as: 'h2', variant: section.settings.title_text_variant %}
            </div>
          {% endif %}
        </a>
      </div>

      <div class="SiteHeader__Right">
        <div class="u-Hidden--Mobile">
          {% if section.settings.language_selector %}
            {% render 'language-selector' %}
          {% endif %}
        </div>

        {% if right_icons != blank %}
          <div class="SiteHeader__Icons">
            {{ right_icons }}
          </div>
        {% endif %}
      </div>
    </header>
  </div>

  {% for link in section.settings.link_list.links %}
    {% if link.links.size > 0 %}
      {% render 'mega-menu', handle: link.handle, links: link.links %}
    {% endif %}
  {% endfor %}
</section>

{% stylesheet %}
  .SiteHeader {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: var(--size-m);
    padding-block: var(--site-header-padding-block);
    padding-inline: var(--site-header-padding-inline);
  }

  .SiteHeader__Left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--size-m);
  }

  .SiteHeader__Middle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .SiteHeader__Logo {
    width: var(--width);
    height: auto;
  }

  .SiteHeader__Right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .SiteHeader__Icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--size-xs);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:sections.site_header.name",
  "class": "MaybeStickySection",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.headers.section_appearance.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.settings.color_scheme.label",
      "info": "t:sections.all.settings.color_scheme.info"
    },
    {
      "type": "checkbox",
      "id": "border_bottom",
      "label": "t:sections.all.settings.border_bottom.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "box_shadow",
      "label": "t:sections.all.settings.box_shadow.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "t:sections.all.settings.sticky.label",
      "default": false,
      "info": "t:sections.all.settings.sticky.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.section_content.content"
    },
    {
      "type": "link_list",
      "id": "link_list",
      "label": "t:sections.all.settings.link_list.label",
      "default": "main-menu"
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.paragraphs.logo.content"
    },
    {
      "type": "checkbox",
      "id": "show_desktop_logo",
      "label": "t:sections.site_header.settings.show_desktop_logo.label",
      "default": true,
      "info": "t:sections.site_header.settings.show_desktop_logo.info"
    },
    {
      "type": "range",
      "id": "desktop_logo_width",
      "min": 50,
      "max": 300,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "t:settings_schema.logo.settings.logo_width.label",
      "visible_if": "{{ section.settings.show_desktop_logo == true }}"
    },
    {
      "type": "checkbox",
      "id": "show_mobile_logo",
      "label": "t:sections.site_header.settings.show_mobile_logo.label",
      "default": true,
      "info": "t:sections.site_header.settings.show_mobile_logo.info"
    },
    {
      "type": "range",
      "id": "mobile_logo_width",
      "min": 25,
      "max": 300,
      "step": 5,
      "default": 50,
      "unit": "px",
      "label": "t:settings_schema.logo.settings.logo_width.label",
      "visible_if": "{{ section.settings.show_mobile_logo == true }}"
    },
    {
      "type": "select",
      "id": "title_text_variant",
      "label": "t:sections.site_header.settings.title_text_variant.label",
      "options": [
        {
          "value": "heading-small",
          "label": "t:global.settings.text_variant.options.heading-small.label"
        },
        {
          "value": "heading-medium",
          "label": "t:global.settings.text_variant.options.heading-medium.label"
        },
        {
          "value": "heading-large",
          "label": "t:global.settings.text_variant.options.heading-large.label"
        }
      ],
      "default": "heading-medium",
      "info": "t:sections.site_header.settings.title_text_variant.info",
      "visible_if": "{{ section.settings.show_desktop_logo == false or section.settings.show_mobile_logo == false }}"
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.paragraphs.icons.content"
    },
    {
      "type": "checkbox",
      "id": "language_selector",
      "label": "t:sections.all.settings.language_selector.label",
      "default": true,
      "info": "t:sections.all.settings.language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "show_cart_icon",
      "label": "t:sections.site_header.settings.show_cart_icon.label",
      "default": true
    },
    {
      "type": "select",
      "id": "cart_icon_position",
      "visible_if": "{{ section.settings.show_cart_icon == true }}",
      "label": "t:sections.site_header.settings.cart_icon_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:global.settings.position.options.left.label"
        },
        {
          "value": "right",
          "label": "t:global.settings.position.options.right.label"
        }
      ],
      "default": "right"
    },
    {
      "type": "checkbox",
      "id": "show_account_icon",
      "label": "t:sections.site_header.settings.show_account_icon.label",
      "default": true
    },
    {
      "type": "select",
      "id": "account_icon_position",
      "visible_if": "{{ section.settings.show_account_icon == true }}",
      "label": "t:sections.site_header.settings.account_icon_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:global.settings.position.options.left.label"
        },
        {
          "value": "right",
          "label": "t:global.settings.position.options.right.label"
        }
      ],
      "default": "right"
    },
    {
      "type": "checkbox",
      "id": "show_wishlist_icon",
      "label": "t:sections.site_header.settings.show_wishlist_icon.label",
      "default": false
    },
    {
      "type": "select",
      "id": "wishlist_icon_position",
      "visible_if": "{{ section.settings.show_wishlist_icon == true }}",
      "label": "t:sections.site_header.settings.wishlist_icon_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:global.settings.position.options.left.label"
        },
        {
          "value": "right",
          "label": "t:global.settings.position.options.right.label"
        }
      ],
      "default": "right"
    },
    {
      "type": "page",
      "id": "wishlist_page",
      "label": "t:sections.site_header.settings.wishlist_page.label",
      "info": "t:sections.site_header.settings.wishlist_page.info"
    },
    {
      "type": "checkbox",
      "id": "show_search_icon",
      "label": "t:sections.site_header.settings.show_search_icon.label",
      "default": true
    },
    {
      "type": "select",
      "id": "search_icon_position",
      "visible_if": "{{ section.settings.show_search_icon == true }}",
      "label": "t:sections.site_header.settings.search_icon_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:global.settings.position.options.left.label"
        },
        {
          "value": "right",
          "label": "t:global.settings.position.options.right.label"
        }
      ],
      "default": "right"
    }
  ]
}
{% endschema %}
