<section
  {% if section.settings.sticky %}
    is="section-component"
    data-section-index="{{ section.index0 }}"
  {% endif %}

  class="
    Section
    Section--PaddingBlockSmall
    {% if section.settings.border_bottom %}
      Section--BorderBottom
    {% endif %}
    {% if section.settings.sticky %}
      Section--Sticky
    {% endif %}
    {% if section.settings.box_shadow %}
      Section--BoxShadow
    {% endif %}
    Section--GradientBackground
    ColorScheme--{{ section.settings.color_scheme | camelcase }}
  "
>
  <div class="Section__Inner">
    <header class="SiteHeader">
      <div class="SiteHeader__Left">
        <div class="u-Hidden--Mobile">
          {% render 'navigation-group', direction: 'horizontal', links: section.settings.link_list.links %}
        </div>

        <div class="u-Hidden--Desktop">
          {% render 'button',
            variant: 'plain',
            icon: 'menu',
            action: 'open-drawer:menu',
            size: 'small',
            aria_label_key: 'components.menu_button.aria_label'
          %}
        </div>

        {% if section.settings.show_search_icon and section.settings.search_icon_position == 'left' %}
          {% render 'button',
            icon: 'search',
            variant: 'plain',
            size: 'small',
            action: 'open-modal:search',
            aria_label: 'components.search_button.aria_label'
          %}
        {% endif %}

        {% if section.settings.show_account_icon and section.settings.account_icon_position == 'left' %}
          {% render 'button',
            icon: 'user-round',
            url: routes.account_url,
            variant: 'plain',
            size: 'small',
            aria_label_key: 'components.user_button.aria_label'
          %}
        {% endif %}

        {% if section.settings.show_wishlist_icon and section.settings.wishlist_icon_position == 'left' %}
          {% render 'button',
            icon: 'heart',
            url: section.settings.wishlist_page.url,
            variant: 'plain',
            size: 'small',
            aria_label_key: 'components.wishlist_button.aria_label'
          %}
        {% endif %}

        {% if section.settings.show_cart_icon and section.settings.cart_icon_position == 'left' %}
          {% render 'dynamic-cart-icon' %}
        {% endif %}
      </div>

      <div class="SiteHeader__Middle">
        <a href="{{ routes.root_url }}" aria-label="{{ 'navigation.index.aria_label' | t }}">
          {% if section.settings.show_logo and settings.logo != blank %}
            <div class="SiteHeader__Logo" style="--width: {{ section.settings.logo_width }}px;">
              {% render 'image', image: settings.logo %}
            </div>
          {% else %}
            {% render 'text', text: 'Ruumly', as: 'h2', variant: section.settings.title_text_variant %}
          {% endif %}
        </a>
      </div>

      <div class="SiteHeader__Right">
        <div class="u-Hidden--Mobile">
          {% if section.settings.language_selector %}
            {% render 'language-selector' %}
          {% endif %}
        </div>

        {% if section.settings.show_search_icon and section.settings.search_icon_position == 'right' %}
          {% render 'button',
            icon: 'search',
            variant: 'plain',
            size: 'small',
            action: 'open-modal:search',
            aria_label_key: 'components.search_button.aria_label'
          %}
        {% endif %}

        {% if section.settings.show_account_icon and section.settings.account_icon_position == 'right' %}
          {% render 'button',
            icon: 'user-round',
            url: routes.account_url,
            variant: 'plain',
            size: 'small',
            aria_label_key: 'components.user_button.aria_label'
          %}
        {% endif %}

        {% if section.settings.show_wishlist_icon and section.settings.wishlist_icon_position == 'right' %}
          {% render 'button',
            icon: 'heart',
            url: section.settings.wishlist_page.url,
            variant: 'plain',
            size: 'small',
            aria_label_key: 'components.wishlist_button.aria_label'
          %}
        {% endif %}

        {% if section.settings.show_cart_icon and section.settings.cart_icon_position == 'right' %}
          {% render 'dynamic-cart-icon' %}
        {% endif %}
      </div>
    </header>
  </div>
</section>

{% stylesheet %}
  .SiteHeader {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: var(--size-m);
    padding-block: var(--site-header-padding-block);
    padding-inline: var(--site-header-padding-inline);
  }

  .SiteHeader__Left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--size-m);
  }

  .SiteHeader__Middle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .SiteHeader__Logo {
    width: var(--width);
    height: auto;
  }

  .SiteHeader__Right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--size-m);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:sections.site_header.name",
  "class": "MaybeStickySection",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.headers.section_appearance.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.settings.color_scheme.label",
      "info": "t:sections.all.settings.color_scheme.info"
    },
    {
      "type": "checkbox",
      "id": "border_bottom",
      "label": "t:sections.all.settings.border_bottom.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "box_shadow",
      "label": "t:sections.all.settings.box_shadow.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "t:sections.all.settings.sticky.label",
      "default": false,
      "info": "t:sections.all.settings.sticky.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.section_content.content"
    },
    {
      "type": "link_list",
      "id": "link_list",
      "label": "t:sections.all.settings.link_list.label",
      "default": "main-menu"
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.paragraphs.logo.content"
    },
    {
      "type": "checkbox",
      "id": "show_logo",
      "label": "t:sections.site_header.settings.show_logo.label",
      "default": true,
      "info": "t:sections.site_header.settings.show_logo.info"
    },
    {
      "type": "select",
      "id": "title_text_variant",
      "label": "t:sections.site_header.settings.title_text_variant.label",
      "options": [
        {
          "value": "heading-small",
          "label": "t:global.settings.text_variant.options.heading-small.label"
        },
        {
          "value": "heading-medium",
          "label": "t:global.settings.text_variant.options.heading-medium.label"
        },
        {
          "value": "heading-large",
          "label": "t:global.settings.text_variant.options.heading-large.label"
        }
      ],
      "default": "heading-medium",
      "info": "t:sections.site_header.settings.title_text_variant.info",
      "visible_if": "{{ section.settings.show_logo == false }}"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 300,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "t:settings_schema.logo.settings.logo_width.label",
      "visible_if": "{{ section.settings.show_logo == true }}"
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.paragraphs.icons.content"
    },
    {
      "type": "checkbox",
      "id": "language_selector",
      "label": "t:sections.all.settings.language_selector.label",
      "default": true,
      "info": "t:sections.all.settings.language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "show_cart_icon",
      "label": "t:sections.site_header.settings.show_cart_icon.label",
      "default": true
    },
    {
      "type": "select",
      "id": "cart_icon_position",
      "visible_if": "{{ section.settings.show_cart_icon == true }}",
      "label": "t:sections.site_header.settings.cart_icon_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:global.settings.position.options.left.label"
        },
        {
          "value": "right",
          "label": "t:global.settings.position.options.right.label"
        }
      ],
      "default": "right"
    },
    {
      "type": "checkbox",
      "id": "show_account_icon",
      "label": "t:sections.site_header.settings.show_account_icon.label",
      "default": true
    },
    {
      "type": "select",
      "id": "account_icon_position",
      "visible_if": "{{ section.settings.show_account_icon == true }}",
      "label": "t:sections.site_header.settings.account_icon_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:global.settings.position.options.left.label"
        },
        {
          "value": "right",
          "label": "t:global.settings.position.options.right.label"
        }
      ],
      "default": "right"
    },
    {
      "type": "checkbox",
      "id": "show_wishlist_icon",
      "label": "t:sections.site_header.settings.show_wishlist_icon.label",
      "default": false
    },
    {
      "type": "select",
      "id": "wishlist_icon_position",
      "visible_if": "{{ section.settings.show_wishlist_icon == true }}",
      "label": "t:sections.site_header.settings.wishlist_icon_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:global.settings.position.options.left.label"
        },
        {
          "value": "right",
          "label": "t:global.settings.position.options.right.label"
        }
      ],
      "default": "right"
    },
    {
      "type": "page",
      "id": "wishlist_page",
      "label": "t:sections.site_header.settings.wishlist_page.label",
      "info": "t:sections.site_header.settings.wishlist_page.info"
    },
    {
      "type": "checkbox",
      "id": "show_search_icon",
      "label": "t:sections.site_header.settings.show_search_icon.label",
      "default": true
    },
    {
      "type": "select",
      "id": "search_icon_position",
      "visible_if": "{{ section.settings.show_search_icon == true }}",
      "label": "t:sections.site_header.settings.search_icon_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:global.settings.position.options.left.label"
        },
        {
          "value": "right",
          "label": "t:global.settings.position.options.right.label"
        }
      ],
      "default": "right"
    }
  ]
}
{% endschema %}
